setuptools
wheel
torch==2.4.1
torchaudio==2.4.1
transformers
optimum
accelerate
insanely-fast-whisper
fastapi
uvicorn
aiofiles
TTS==0.22.0
deep-translator
pydub
google-cloud-storage
python-multipart
urllib3
requests
librosa
PyJWT
